<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <style></style>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    html,body {
        height:100%;
    }
    </style>
</head>
<body>
    <div class="wrapper" style="height: 100%">
        
        <div class="container d-flex flex-column" style="height: 100%">
            <div class="row justify-content-center align-items-center text-center" style="height: 200px;" >
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        游戏已经被抽出 <span class="text-dark" id="cardNow">0</span> / <span class="text-dark" id="cardMax">0</span> 张
                    </div>

                </div>
            </div>
            <div class="row justify-content-center align-items-center text-center" style="flex: 1" >
                <div class="col-12">
                    <button type="button" class="btn btn-success" id="refresh-btn" >
                         刷一下
                    </button>
                </div>
                <div class="col-12">
                     <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        初始化游戏
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">初始化游戏</h5>
                    <button type="button " class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>初始化游戏后. 所有牌都复原 已抽玩家的牌也会消失！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                    <button type="button" class="btn  btn-danger btn-dan">初始化</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"/></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">


    function refresh() {
        $.ajax({
            type: 'get',
            url: '/h5/card/getGame',
            dataType: 'json',
            cache: false,
            data: {openId: 'hahaha'},
            success: function (res) {
                if (res.code === 2000) {


                    console.log(res.game);
                    $('#cardNow').text(res.game.cards_now);
                    $('#cardMax').text(res.game.cards_max);

                } else {
                    alert('游戏未初始化 请联系管理员')
                }
            },
            error: function (err) {

            }
        });
    }
    refresh();
    $('#refresh-btn').on('click',function(){

        refresh()

    });
    $('.btn-dan').on('click',function(){
        $.ajax({
            type: 'post',
            url: '/h5/card/createGame',
            dataType: 'json',
            cache:false,
            success: function(res){
                if(res.code===2000){
                    location.href=location.href;
                }else{
                    alert('重置失败');
                }
                $('#exampleModal').modal('hide')
            },
            error:function(err){

            }
        });
    });


</script>
</html>